<div>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand">Welcome</span>
	  <div class="nav navbar-nav navbar-right">
		<li class="nav-item" style="font-size: large;letter-spacing: 1px;">
		  <a routerLink="/home" class="nav-link">Home</a>
		</li>
		
    <li class="nav-item" >
		  <a routerLink="/userinfo" class="nav-link">
        <i class="fa fa-user-circle fa-3x" style=  "position: absolute;
        right: 0;top: 0;" ></i>
			 profile
		  </a>
		</li>
		
		
	  </div>
	</nav>
	</div>
  	<router-outlet></router-outlet>
